<h1>WELCOME TO ROCK PAPER SCISSORS</h1>

<ul>
  <li><h2> Your Choice: <em><%= @rpsgame.choice %> </em></h2></li>
  <li><h2> Computer's Choice: <em><%= @rpsgame.computer_play %> </em></h2></li>
  <li><h2> Result: <em><%= @rpsgame.result %> </em></h2></li>
</ul>


  <!-- the player made, 
  the move that the computer made, 
  and whether the player won,
lost, or tied. -->